*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(194, 194, 232);
}

header{
    padding: 10px 0;
    background-color: white;
}

.wraper-header, .wraper-main{
    width: 100%;
    padding: 0 10px;
    display: flex;
    max-width: 1480px;
    margin: 0 auto;
}
 .wraper-main{
    justify-content: space-around;
 }
.wraper-header img{
    width: 70px;
}

.home-btn{
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.search{
    width: 45%;
}

.search input{
    width: 100%;
    height: 40px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    padding-left: 10px;
}

.notifications{
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.notifications i{
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

.notifications i:hover{
    background-color: rgb(240, 240, 240);
}

.posts{
    padding-left: 10%;
    width:60%;
}

.sidebar{
    width:25%;
    
}

.comunidades{
    padding-bottom: 10px;
    background-color: white;
}

.comunidades h2{
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
}

.comunidade-single{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.comunidade-single i{
    color: green;
}

.comunidade-single button{
    background-color: #069;
    color: white;
    border-radius: 10px;
    border: 0;
    width: 60px;
    height: 20px;
    
}

.comunidade-single a{
    text-decoration: none;
    color: white;
}

.comunidades button.view-all{

    width: 90%;
    display: block;
    margin: 10px;
    height: 30px;
    border: 0;
    background-color: #069;
    color: white;
    border-radius: 10px;
}

.post-single{
    display: flex;
    background-color: white;
    margin-bottom: 20px;
}

.post-sidebar{
    padding: 25px 10px;
    background-color: white;
}

.post-content h3{
    margin-top: 10px;
}

.post-content p > img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline;
}

.post-content img{
    width: 100%;

}

.post-content-text{
    padding: 10px;
}

.postBox{
    width: 100%;
}

.postBox input{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    padding-left: 10px;
}

.postBox__postButton{
    width: 20%;
    display: block;
    margin-top: 10px;
    height: 30px;
    border: 0;
    background-color: #069;
    color: white;
    border-radius: 10px;
}

.pagination {
    margin-bottom: 20px;
}

.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}