{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
  <title>Rede UFPI - Cadastro</title>
</head>
<body>
  <div>
    <h1>CADASTRO</h1>
    <form method="POST">
      {% csrf_token %}
      EMAIL:<input name="email" type="text" id="email">
      SENHA:<input name="senha" type="text" id="senha">
      MATRÍCULA:<input name="matricula" type="text" id="matricula">
      <button type="submit">CASDASTRAR</button>
    </form>
  </div>
</body>
</html>