{% load static %}

<!DOCTYPE html>
<html lang="pt br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/telainicial.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<body>
    <header>
      <div class="wraper-header">
        <div class="logo">
          <img src="{% static 'img/ufpi-icone1.png' %}" alt="ufpi-icone1">
        </div>
        <div class="home-btn">
          <p>
            <span>
              <a href="{% url 'home-page' %}"><i class="fa-solid fa-house"></i></a>
              Home <i class="fa-solid fa-arrow-right"></i> (nome da comunidade)
            </span>
          </p>
          <p>
            <i class="fa-solid fa-chevron-down"></i>
          </p>
        </div>
        <div class="search">
          <input type="text" placeholder="O que você está procurando?">
        </div>
        <div class="notifications">
          <i class="fa-solid fa-comment"></i>
          <a href="{% url 'perfil' %}"><i class="fa-solid fa-user"></i>
          <a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
      </div>
    </header>
    <br><br><br>
    <section class="main">
      <div class="wraper-main">
        <div class="posts">
  
          <div class="post-single">
            <div class="post-sidebar">
               <i class="fa-solid fa-arrow-up"></i>
               <p><b>19k</b></p>
               <i class="fa-solid fa-arrow-down"></i>
            </div>
            
            <div class="post-content">
              <div class="post-content-text">
                <p> <img src="https://th.bing.com/th/id/R.5acf2a2150f157329f039008aca30e2a?rik=ATasGvyb5Rs4mg&riu=http%3a%2f%2fimg0.colmeia.blog.br%2fposts%2ffull%2fb503d812f092938de6104ed437b8fb05.jpg&ehk=ZJ6Cirs4EbWCnC35KjaV%2bnaqlPYJyAwYWNg2SE9fqtc%3d&risl=&pid=ImgRaw&r=0" alt="Foto de nerd"><b>Pessoa</b> -Postado por pessoa 10h atras</p>
                <h3>Hello world</h3>
              </div>
  
            </div>
          </div>
  
        </div>
        <div class="sidebar">
          <div class="comunidades">
            <h2>Comunidades</h2>
            <div class="comunidade-single">
              <p>Sistemas de informação</p>
              <p><button>Entrar</button></p>
            </div>
            <button class="view-all">Ver todos</button>
          </div>
        </div>
      </div>
    </section>
    
  </body>
  </html>