{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <title>Rede UFPI - HOME</title>
</head>

<body>
  <nav>
    <li>
      <a href="{% url 'home' %}">Rede UFPI</a>
      <a href="{% url 'login' %}">LOGIN</a>
      <a href="{% url 'cadastro' %}">CADASTRAR</a>
    </li>
  </nav>
  <p>A Rede UFPI: Conectando a Comunidade Acadêmica

    A Rede UFPI é uma plataforma de mídia social projetada especificamente para atender às necessidades da comunidade acadêmica da Universidade Federal do Piauí (UFPI).</p>
</body>
</html>