{% load static %}

<!DOCTYPE html>
<html lang="pt br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/telainicial.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title>Rede UFPI - Home</title>
</head>
<body>
    <header>
      <div class="wraper-header">
        <div class="logo">
          <img src="{% static 'img/ufpi-icone1.png' %}" alt="ufpi-icone1">
        </div>
        <div class="home-btn">
          <p>
            <span>
              <i class="fa-solid fa-house"></i>
              Home
            </span>
          </p>
          <p>
          </p>
        </div>
        <div class="search">
          <input type="text" placeholder="O que você está procurando?">
        </div>
        <div class="notifications">
          <i class="fa-solid fa-comment"></i>
          <a href="{% url 'perfil' %}"><i class="fa-solid fa-user"></i>
          <a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
      </div>
    </header>
    <br>
    <section class="main">
      <div class="wraper-main">
        <div class="posts">
          <div class="postBox">
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <p>{{ message }}</p>
                </div>
              {% endfor %}
              <form action="{% url 'post' %}" method="POST">
                  {% csrf_token %}
                  <div class="postbox__input">
                      <input type="text" name = "conteudo" placeholder="Criar post"/>
                  </div>
                  <button class="postBox__postButton">Post</button>
              </form>
          </div>
          <br>
          {% for post in posts %}
          <div class="post-single">
            <div class="post-content">
              <div class="post-content-text">
                <p><i class="fa-solid fa-user"></i><!--Exemplo de onde fica a foto--> <b>{{post.user_id}}</b>  Postado no dia xx/xx/xx"</p>
                <h3>{{post.conteudo}}</h3>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="pagination">
            <span class="step-links">
              {% if posts.has_previous %}
                <a class="paginas" href="?page={{ posts.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
              {% endif %}
  
              {% if posts.paginator.num_pages %}
                <span class="currente">
                  {{ posts.number }} de {{ posts.paginator.num_pages }}
                </span>
              {% endif %}
  
              {% if posts.has_next %}
                <a class="paginas" href="?page={{ posts.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
              {% endif %}
            </span>
          </div>
        </div>
        <div class="sidebar">
          <div class="comunidades"> 
            <h2>Comunidades</h2>
            {% if comunidades %}
              {% for comunidade in comunidades %}
              <div class="comunidade-single">
                <p>{{ comunidade.nome }}</p>
                <p><button><a href="comunidade/{{comunidade.nome}}">Entrar</a></button></p>
              </div>
              {% endfor %}
            {% else %}
              <p>Não há nenhuma comunidade</p>
            {% endif %}
            <button class="view-all"><a href="{% url 'criar-comunidade' %}">Criar Comunidade</a></button>
            <button class="view-all">Ver todos</button>
          </div>
        </div>
      </div>
    </section>
    {% if error_message %}
    <script>
    window.onload = function() {
        if ('{{ error_message }}'.trim() !== '') {
            alert('{{ error_message }}');
        }
    };
    </script>
    {% endif %}
  </body>
  </html>